<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign up / Login Form</title>
  <link rel="stylesheet" href="./static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  
		<img src="./static/img/logo.png" alt="Arfaat Academy Logo" class="logo">
		<input type="checkbox" id="chk" aria-hidden="true">	
			<div class="signup">
				<form >
					<label for="chk" aria-hidden="true" id="main-label">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<input type="password" name="chk-pswd" placeholder="Confirm password" required="">
					<label for="Role" id="role-label">Role:</label>
					<select id="role" name="ole">
						<option value="Admin">Admin</option>
						<option value="Teacher">Teacher</option>
						<option value="Student">Student</option>
					</select>
					
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true" id="main-label">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
